.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

.App-header {
  display: flex;
  align-items: center;
  background-color: #d1d1d1;
  padding: 15px 10px;
}

.App-link {
  color: #61dafb;
}
